:root {
  --basic-color: #d52047;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.header {
  background: #eeeff1;
}
.container {
  width: 100%;
  max-width: 646px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}

.container1 {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}

.container2 {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}

.container3 {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}

.container4 {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}

.nav-link1 {
  display: inline-block;
  color: #34547a;
  max-width: 646px;
  margin-right: 42px;
  margin-top: 79px;
  margin-bottom: 151px;
}
.nav-link {
  display: inline-block;
  max-width: 646px;
  margin-right: 42px;
  margin-top: 79px;
  margin-bottom: 151px;
}
.section-title {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 541px;
  padding-bottom: 60px;
}
.text {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}
.button {
  background: #34547a;
  color: #ffffff;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.section-title1 {
  /* padding-top: 112px;
  padding-bottom: 50px; */
  margin: auto;
  text-align: center;
}
.text1 {
  margin: auto;
  text-align: center;
  max-width: 540px;
  /* padding-bottom: 100px; */
}
.second-section {
  background: #34547a;
}

.images {
  display: inline-block;
  /* float: left; */
  /* padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 409px;
  margin-right: 45px; */
}
.description {
  color: #ffffff;
  float: right;
  display: block;
}
.third-section {
  background: #eeeff1;
  /* padding-top: 100px; */
  margin: auto;
  text-align: center;
}
.text2 {
  /* padding-top: 50px;
  padding-bottom: 57px; */
  margin: auto;
  text-align: center;
  max-width: 540px;
}
.video {
  /* max-width: 1110px;
  max-height: 600px; */
  /* padding-bottom: 100px; */
  border: none;
}

.footer {
  background: #34547a;
  color: #ffffff;
  max-width: 1920px;
}
.section-title3 {
}
.words {
}
