:root {
  --basic-color: #d52047;
  --container-width: 340px;
  --basic-space: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}
/*  */
.menu {
  position: absolute;
  list-style: none;
  text-align: center;
  background: rgb(61, 61, 61);
  color: rgb(204, 199, 199);
  padding-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.parent:hover > .child {
  display: block;
}

.child {
  display: none;
  top: 100px;
  list-style: none;
  position: relative;
  text-align: center;
  padding-top: 12px;
  background-color: rgb(103, 154, 167);
  left: 80px;
}
/* .sub-menu{
  display: block;
  left: 80px;
  list-style: none;
  position: relative;
  text-align: center;
  align-items: center;
  padding-top: 12px;
  background-color: rgb(103, 154, 167);
} */
